html {
    box-sizing: border-box;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}
    
ul {
    list-style: none;
    text-align: center;
}

li  {
    display: inline;
}

body {
    margin: 0;
}

#navbar {
    background-color: #000000;
    width: 100%;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

#navbar ul li a {
    text-decoration: none;
    text-align: center;
    font-size: 1em;
    font-family: 'Russo One';
    color: #ffffff;
    margin: 5px;
    padding-right: 10px;
}

#nav-image {
    float: left;
    margin: 0;
    height: 50px;
    width: 100px;
    background-image: url("../img/Logo-Transparent-White-2.png");
    background-repeat: no-repeat;
    background-size: 65%;
    background-position: center;
}

#navbar a:hover {
    background-color: gray;
}

.fa-bars{
    color: white;
    float: Right;
    margin-right: 30px;
    margin-top: 6px;
    visibility: hidden;
  }

#home-page {
    margin: 0;
    padding: 0;
}

#home-page h1 {
    font-family: 'Russo One';
    font-size: 1em;
    text-align: center;
    color: #f05123;
}

#home-page h2 {
    font-family: 'Russo One';
    text-align: center;
    color: #f7911e;
}

#home-page h3 {
    font-family: 'Russo One';
    text-align: center;
    color:  #000000;
}

#home-page header {
    font-family: 'Puritan';
    text-align: center;
    color: #2b2c79;
    font-size: 2em;
}

#home-page header img {
    width: 100%;
    height: 400px;
}

#our-story-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 2px;
    margin: 5px;
}

#home-our-story {
    display: inline-flex;
    color: #2b2c79;
    grid-column-start: 2;
    grid-column-end: 2;
    text-align: left;
}

#our-story-grid-container img {
    width: 300px;
    height: 300px;
}

#home-example-products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: .5px;
    margin: 5px;
    align-content: center;
    text-align: center;
    background-color: #f7911e;
    margin: 0;
    padding: 10px 5px 10px 5px;
    border: 2px solid #000000;
}

#home-example-products img {
    width: 350px;
    height: 400px;
}

.caption {
    font-family: 'Merienda';
    font-size: 2em;
    font-weight: bold;
}

.caption a {
    text-decoration: none;
}

#contacts-page {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: .5px;
    margin: 0;
}

#contacts-page h1 {
    font-family: 'Russo One';
    text-align: center;
    color: #f05123;
}

#contacts-page h2 {
    font-family: 'Russo One';
    text-align: center;
    color: #f7911e;
}

#contacts-page h3 {
    font-family: 'Russo One';
    text-align: center;
    color:  #000000;
}

#contacts-header {
    display: grid;
    text-align: center;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 2;
}

.contacts-section1 {
    display: flex;
    margin: 0;
    /* padding: 5px; */
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 2;
    border: 5px solid #f7911e;
    max-width: 210px;
    max-height: 310px;
}

.contacts-section1 img {
    width: 200px;
    height: 300px;
}

.contacts-section2 {
    display: grid;
    margin: 0;
    padding: 5px;
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 2;
}

#contacts-request-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: .5px;
}

#contacts-page em {
    text-decoration: underline;
    margin: 5px;
    color: #f05123;
}

#contacts-page header a, #contacts-page section a {
    color: #2b2c79;
}

#footer-image {
    width: 100%;
    height: 400px;
    background-image: url("../img/Moon\ Gate.jpg");
    background-repeat: no-repeat;
    background-size: 100% 400px;
    background-position: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

#footer-nav {
    display: inline-flex;
    margin: 0;
    padding: 0px 0px 0px 0px;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 6;
    font-family: 'Russo One';
    font-size: 1em;
    color: #ffffff;
    align-content: stretch;
}

#footer-nav a {
    display: inline-flex;
    text-decoration: none;
    margin: 0;
    padding: 0px 140px 0px 0px;
}

#footer-clients {
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 6;
    grid-column-end: 6;
    font-family: 'Merienda';
    font-size: 0.8em;
    color: #ffffff;
}

#footer-contact-info {
    margin: 0;
    padding: 0px 0px 10px 40px;
    grid-row-start: 6;
    grid-row-end: 6;
    grid-column-start: 2;
    grid-column-end: 4;
    font-family: 'Merienda';
    font-size: 0.8em;
    color: #ffffff;
}

footer a {
    color: #ffffff;
}

#footer-SocialMedia {
    display: inline;
    margin: 0;
    padding: 50px 0px 0px 180px;
    grid-row-start: 6;
    grid-row-end: 6;
    grid-column-start: 4;
    grid-column-end: 6;
    font-family: 'Merienda';
    font-size: 0.7em;
    color: #ffffff;
}