/****************** MOBILE DEVICE ********************/
@media screen and (max-width: 620px) {
    html {
        box-sizing: content-box;
        float: none;
    }

/***************** NAVIGATION BAR ********************/
    .fa-bars {
        visibility: visible;
    }

    #navbar {
        display: inline-block;
    }

    #navbar ul li a {
        display: none;
    }

/********************* FOOTER ************************/

    #navbar2, .loc-foot2 {
        display: none;
    }

    .loc-foot1, .loc-foot3par {
        display: block;
        float: none;
        max-width: 40%;
        text-align: left;
        line-height: 15px;
        font-size: 13px;
        margin: 0px;
        padding: 0px;
    }
/********************* Home ************************/
    div {
        display: flex;
        flex-basis: 600px;
        flex-shrink: 2;
    }

    #home-page, #contacts-page, #about-page {
        display: block;
        float: none;
        width: 100%;
    }

    #our-story-grid-container {
        grid-template-columns: 1fr;
    }
    
    #home-our-story {
        width: 100%;
        padding: 2px;
        text-align: center;
        grid-column-start: 1;
        grid-column-end: 1;
    }

    #our-story-grid-container img, #home-example-products img {
        display: none;
    }

/********************* Conacts ************************/

    #contacts-store-info {
        display: block;
        margin: 0px;
        padding: 0px;
        font-size: .8em;
    }
    
    #contacts-page-main-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    
    #contacts-store-staff {
        text-align: center;
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start: 1;
        grid-column-end: 1;
    }
    
    .contacts-section1 {
        display: flex;
        margin: 0;
        grid-row-start: 2;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 1;
        max-width: 200px;
        max-height: 300px;
    }
    
    .contacts-section1 img {
        width: 200px;
        height: 300px;
    }
    
    .contacts-section2 {
        display: flex;
        flex-shrink: 2;
        margin: 0;
        padding: 5px;
        grid-row-start: 3;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 1;
    }

/********************* About ************************/
    
    #about-intro-grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    #about-intro-text {
        display: block;
        grid-column-start: 1;
        grid-column-end: 1;
        width: 100%;
    }

    #about-intro-image {
        grid-column-start: 1;
        grid-column-end: 1;
    }

    #about-intro-image img {
        width: 100%;
        height: 375px;
    }

    #about-who-we-are-surround {
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    #about-who-intro {
        margin-left: 5px;
        margin-right: 5px;
    }

    #about-who-we-are-container {
        float: none;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        margin: 0px;
        height: 100%;
    }

    .about-who-we-are-images {
        grid-column-start: 1;
        grid-column-end: 1;
        margin: 5px;
    }

    .about-who-we-are-images img {
        width: 100%;
        height: 200px;
    }

    .about-who-we-are-info {
        display: block;
        grid-column-start: 2;
        grid-column-end: 2;
        text-align: left;
        padding: 5px;
        width: 100%;
        height: 430px;
    }
/********************* Locations ************************/
}


/********** SMALLER DESKTOP/LAPTOP/WINDOW ************/
@media screen and (max-width: 3345px) {
    html {
        box-sizing: content-box;
        float: none;
    }

/***************** NAVIGATION BAR ********************/
    .fa-bars {
        visibility: visible;
    }

    #navbar {
        display: inline-block;
    }

    #navbar ul li a {
        display: none;
    }

/********************* FOOTER ************************/

    #navbar2 {
        clear: both;
        height: 50px;
        width: 100%;
    }
    
    #navbar2 ul li a {
        display: none;
    }

    .loc-foot1, .loc-foot2, .loc-foot3par {
        display: block;
        clear: bottom;
        max-width: 60%;
        text-align: left;
        line-height: 20px;
        font-family: 'Puritan';
        font-size: 13px;
        /* margin-left: 10px; */
    }

    .loc-foot2{
        max-width: 50%;
        margin-right: 50px;
    }

    #footer-image {
        width: 100%;
        clear: both;
        height: 400px;
        background-image: url("../img/Moon\ Gate.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    /********************* Home *************************/
    #our-story-grid-container img {
        width: 300px;
        height: 380px;
        box-shadow: 1px 1px 5px #f04f2369;
    }
    
    #home-our-story p{
        width: 400px;
        text-align: left;
        font-family: 'Puritan';
        font-size: smaller;
    }

    
    #home-example-products img {
    width: 350px;
    height: 400px;
    padding: 15px;
    }
    /********************* About ************************/
    
    #about-page p {
        font-family: 'Puritan';
        font-size: 16px;
        /* width: 450px; */
        /* margin-left: 20px; */
    }

    #about-intro-image img {
    width: 488px; /* 450px; */
    height: 330px;/* 285px; */
    margin-right: 20px;
    box-shadow: 1px 1px 5px #f04f2369;
    }  

    #about-who-we-are-surround {
        width: 97.6%;
        border: 2px solid black; /* 10px solid #f7911e; */
        border-radius: 15px;
        background-color: #f7911e;
        padding-top: 30px;
        padding-bottom: 50px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 50px;
    }
    
    /********************* Locations ********************/
    .loc-par1, .loc-par2, .loc-par3{
        font-family: 'Puritan';
        font-size: smaller;
        margin-bottom: 50px;
    }

    .loc-par{
        font-family: 'Puritan';
        font-size: 15px;
    }

    .loc-icons{
        display: none;
    }

    .loc1-1, .loc2-2, .loc3-3{
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 0;
    }

    .loc1-1{
        margin-left: 100px;
        margin-bottom: 30px;
    }

    .loc2-2, .loc3-3{
        padding-bottom: 34px;
    }
      
  
    .loc3-img{
        clear: both;
        width: 82.3%;
        background-image: url("../img/cristina-gottardi--YzMZYqwoH4-unsplash.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: 20%;
        margin-left: 130px;
        height: 500px;
    }

    .loc-back {
        /* clear: both; */
        background: rgba(0, 0, 0, 0.335);
        padding-bottom:134px;
        margin-top: 300px;
        margin-bottom: 60px;
    }

    .loc-h2, .loc-par1{
        margin-top: 0px;
        margin-bottom: 20px;
    }

    .loc-back2{
        float: left;
        margin-top: 277px;
        padding-top: 65px;
        padding-bottom: 21px;
        background: rgba(0, 0, 0, 0.808);
    }
    /********************* Products *********************/
    
    /********************* Contacts *********************/







}
/* @media screen and (max-width: 800px) {
    .fa-bars {
        visibility: visible;
    }

    #navbar ul li a {
        display: none;
    }

    body {
        width: 75%;
        float: left;
        display: flex;
        flex-basis: 600px;
        flex-shrink: 2;
    }

    div {
        width: 50%;
        float: left;
        display: flex;
        flex-basis: 300px;
        flex-shrink: 2;
    }
} */